
img {
	width: 200px;
	height: 300px;
}
.body {
	position: relative;
	top: 175px;
	left: 100px;
}

h1.title {
	position: fixed;
	font-family: "Lucida Console", Monaco, monospace;
	text-indent: 100px;
	top:100px;
}

p.title {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
}

.subtitle {
	font-family: "Lucida Console", Monaco, monospace;
}

.content {
	font-family: "Lucida Console", Monaco, monospace;
}

#intro {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 75px;
	position: absolute;
	left: 60%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

#blurb {
    font-family: monospace;
	font-size: 14px;
	text-align: center;
	width: 350px;
}

#profilepic {
	position: fixed;
	left: 40%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.navbar {
	position: fixed;
}

img.card:hover .caption {
	opacity: 1;
}



